/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/* START */
/* TOP */

.parent {
  width: 1500px;
}
.header {
  align-items: flex-end;
  margin-top: 30px;
  margin-left: 40px;
}
.header__ttl {
  font-size: 25px;
  font-weight: bold;
}
.header__navi-list {
  display: flex;
  margin-left: 600px;
  margin-bottom: 25px;
}
.header__navi-item {
  list-style: none;
  font-size: 17px;
  font-weight: bold;
  margin-right: 50px;
}

/* ここから下がTOPと異なる */

.service {
  background-image: url(../img/mv.png);
  height: 300px;
  display: block;
  background-size: cover;
  position: relative;
}

.service__img {
  width:80%;
  height: auto;
}

.service__ttl {
  position: absolute;
  font-size: 40px;
  font-weight: bold;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 社員ブログ詳細 */
.blogspace {
  width: 1000px;
  height: 300px;
  margin: 0 auto;
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.blogcontent__1 {
  width: 30%;
  height: 300px;
  margin-left: 0px;
  background: white;
  position: relative;
}
.blogcontent__1--img {
  position: relative;
}
.blogcontent__1--img img {
  width: 100%;
}
.blogcontent__1--date {
  font-size: 15px;
  margin-top: 10px;
}
.blogcontent__1--txt {
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
}
.blogcontent__2 {
  width: 30%;
  height: 300px;
  margin-left: 0px;
  background: white;
  position: relative;
}
.blogcontent__2--img {
  position: relative;
}
.blogcontent__2--img img {
  width: 100%;
}
.blogcontent__2--date {
  font-size: 15px;
  margin-top: 10px;
}
.blogcontent__2--txt {
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
}
.blogcontent__3 {
  width: 30%;
  height: 300px;
  margin-left: 0px;
  background: white;
  position: relative;
}
.blogcontent__3--img {
  position: relative;
}
.blogcontent__3--img img {
  width: 100%;
}
.blogcontent__3--date {
  font-size: 15px;
  margin-top: 10px;
}
.blogcontent__3--txt {
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
}

.blogcontent__4 {
  width: 30%;
  height: 300px;
  margin-left: 0px;
  background: white;
  position: relative;
}
.blogcontent__4--img {
  position: relative;
}
.blogcontent__4--img img {
  width: 100%;
}
.blogcontent__4--date {
  font-size: 15px;
  margin-top: 10px;
}
.blogcontent__4--txt {
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
}

.blogcontent__5 {
  width: 30%;
  height: 300px;
  margin-left: 0px;
  background: white;
  position: relative;
}
.blogcontent__5--img {
  position: relative;
}
.blogcontent__5--img img {
  width: 100%;
}
.blogcontent__5--date {
  font-size: 15px;
  margin-top: 10px;
}
.blogcontent__5--txt {
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
}

.blogcontent__6 {
  width: 30%;
  height: 300px;
  margin-left: 0px;
  background: white;
  position: relative;
}
.blogcontent__6--img {
  position: relative;
}
.blogcontent__6--img img {
  width: 100%;
}
.blogcontent__6--date {
  font-size: 15px;
  margin-top: 10px;
}
.blogcontent__6--txt {
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
}

/* お問い合わせ */
.blank5 {
  height: 70px;
}
.inquiryparent {
  background: #f1f0f0;
  height: 450px;
}
.inquiry {
  font-size: 35px;
  text-align: center;
  padding-top: 80px;
  margin-bottom: 15px;
}
.inquiry__txt {
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
}
.inquiry__btn {
  width: 300px;
  line-height: 50px;
  text-align: center;
  background-color: red;
  margin: 0 auto;
  font-size: 15px;
  font-weight: bold;
  color: white;
  margin-top: 50px;
}
.inquiry__footer {
  height: 60px;
  background: black;
}
.footer__navi-list {
  display: flex;
  color: white;
  padding-top: 20px;
  list-style-type: none;
  justify-content: center;
}
.inquiry__footer--copyright {
  color: white;
  margin-right: 200px;
}
.inquiry__footer--navi {
  display: flex;
  color: white;
}
.footer__navi-item {
  color: white;
}
.footer-nav-item-link {
  font-size: 15px;
  margin: 0 10px;
}
