/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/* START */
/* TOP */

.header {
  width: 100%;
  position: fixed;  
  display: flex;
  justify-content: space-between; 
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: white;
  z-index: 20;
}
.header__ttl {
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
}
.header__navi {
  display: flex;
  justify-content: flex-end;
}
.header__navi-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__navi-item {
  list-style: none;
  font-size: 17px;
  font-weight: bold;
  margin-left: 50px;
}

.header-nav-item-link {
  text-decoration: none;
}

/* ここから下がTOPと異なる */

.service {
  background-image: url(../img/mv.png);
  width: 100%;
  height: 300px;
  display: block;
  background-size: cover;
  margin: 0 auto;
  position: relative;
  background-position:center
}
.service__ttl {
  position: absolute;
  font-size: 40px;
  font-weight: bold;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* お問い合わせ詳細 */

.inquiryform {
  width: 1000px;
  margin: 0 auto;
}

.company1 {
  margin-top: 40px;
}
.company1__ttl {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.name1 {
  margin-top: 30px;
}
.name1__ttl {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.address1 {
  margin-top: 30px;
}
.address1__ttl {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.inquirytext {
  margin-top: 30px;
}
.inquirytext__ttl {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.inquirytext__box {
  resize: none;
  width: 836.8px;
  height: 80px;
}

p {
  display: inline;
  color: red;
}

/* 申し込みボタン */
.inquiry__btn2 {
  width: 300px;
  line-height: 50px;
  background-color: black;
  font-size: 15px;
  font-weight: bold;
  color: white;
  margin: 50px auto;
}
.inquiry__btnclass {
  text-align: center;
}

.inquiry__footer {
  height: 60px;
  background: black;
}
.footer__navi-list {
  display: flex;
  color: white;
  padding-top: 20px;
  list-style-type: none;
  justify-content: center;
}
.inquiry__footer--copyright {
  color: white;
  margin-right: 200px;
}
.inquiry__footer--navi {
  display: flex;
  color: white;
}
.footer__navi-item {
  color: white;
}
.footer-nav-item-link {
  font-size: 15px;
  margin: 0 10px;
  text-decoration: none;
}
