/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/* START */
/* TOP */

.header {
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: white;
  z-index: 20;
}
@media screen and (max-width: 768px) {
  .header {
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: white;
    z-index: 20;
  }
}
.header__ttl {
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}
.header__navi {
  display: flex;
  justify-content: flex-end;
}
.header__navi-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header__navi-item {
  list-style: none;
  font-size: 17px;
  font-weight: bold;
  margin-left: 50px;
}
.header-nav-item-link {
  text-decoration: none;
  color: #000;
}

/* ドロワーメニュー */
/* デスクトップ画面でドロワーメニューのリストを表示させない */
@media screen and (min-width: 769px) {
  .navdrawer {
    display: none;
  }
}

/* モバイル画面でハンバーガーメニュー表示＋リストを削除 */
@media screen and (max-width: 768px) {
  .header__navi {
    display: none;
  }

  a {
    text-decoration: none;
    color: blue;
  }
  .navdrawer {
    position: absolute;
    height: 100vh;
    width: 100%;
    left: -100%;
    background: white;
    transition: 0.7s;
    text-align: center;
  }
  .nav ul {
    padding-top: 80px;
  }
  .nav ul li {
    list-style-type: none;
    margin-top: 50px;
  }
  .drawermenu {
    display: inline-block;
    width: 36px;
    height: 32px;
    cursor: pointer;
    position: relative;
  }
  .drawermenu__line--top,
  .drawermenu__line--middle,
  .drawermenu__line--bottom {
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: #000;
    position: absolute;
    transition: 0.5s;
  }
  .drawermenu__line--top {
    top: 0;
  }
  .drawermenu__line--middle {
    top: 14px;
  }
  .drawermenu__line--bottom {
    bottom: 0;
  }
  .drawermenu.open span:nth-of-type(1) {
    top: 14px;
    transform: rotate(45deg);
  }
  .drawermenu.open span:nth-of-type(2) {
    opacity: 0;
  }
  .drawermenu.open span:nth-of-type(3) {
    top: 14px;
    transform: rotate(-45deg);
  }
  .in {
    transform: translateX(100%);
  }
}

/* ドロワーメニューここまで */
.firstview {
  background-image: url(../img/mv.png);
  height: 100vh;
  width: 100%;
  display: block;
  background-size: cover;
  position: relative;
  background-position: center;
  z-index: 10;
}
@media screen and (max-width: 768px) {
  .firstview {
    background-image: url(../img/mv.png);
    height: 80vh;
    width: auto;
    display: block;
    background-size: cover;
    position: relative;
    background-position: center;
  }
}
.firstview__ttl-ja {
  position: absolute;
  font-size: 40px;
  font-weight: bold;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.firstview__ttl-en {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  color: white;
  top: 60%;
  left: 50%;
  padding-top: 30px;
  transform: translate(-50%, -50%);
}
.firstmessage {
  height: 70vh;
  background-color: black;
}
.firstmessage__contents {
  width: 1000px;
  margin: auto;
  padding-top: 150px;
}
.firstmessage__ttl {
  font-size: 35px;
  font-weight: bold;
  color: white;
}
.firstmessage__text {
  font-size: 15px;
  font-weight: bold;
  color: white;
  padding-top: 50px;
}
/* ！！！サービス！！！ */
.blank1 {
  height: 70px;
}
.service {
  font-size: 35px;
  text-align: center;
  margin-bottom: 15px;
}
.service__contents-parent {
  display: grid;
  height: auto;
  grid-template-rows: 500px 500px;
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 768px) {
  .service__contents-parent {
    width: auto;
    height: auto;
    display: block;
  }
}
.service__contents-1 {
  grid-column: 1/2;
  grid-row: 1/2;
  margin: 0 auto;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .service__contents-1 {
    width: 100vw;
    margin: 0 auto;
    text-align: center;
  }
}
.service__contents-1--img img {
  width: 90%;
}
.service__contents-1--textparent {
  width: 90%;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .service__contents-1--textparent {
    width: 90%;
    text-align: left;
  }
}
.service__contents-1--ttl {
  font-size: 15px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .service__contents-1--ttl {
    width: 90%;
    margin: 0 auto;
  }
}
.service__contents-1--txt {
  font-size: 15px;
  margin-bottom: 15px;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .service__contents-1--txt {
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 15px;
  }
}
.service__contents-2 {
  grid-column: 2/3;
  grid-row: 1/2;
  margin: 0 auto;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .service__contents-2 {
    width: 100vw;
    margin: 0 auto;
    text-align: center;
  }
}
.service__contents-2--img img {
  width: 90%;
}
.service__contents-2--textparent {
  width: 90%;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .service__contents-2--textparent {
    width: 90%;
    text-align: left;
  }
}
.service__contents-2--ttl {
  font-size: 15px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .service__contents-2--ttl {
    width: 90%;
    margin: 0 auto;
  }
}
.service__contents-2--txt {
  font-size: 15px;
  margin-bottom: 15px;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .service__contents-2--txt {
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 15px;
  }
}
.service__contents-3 {
  grid-column: 1/2;
  grid-row: 2/3;
  margin: 0 auto;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .service__contents-3 {
    width: 100vw;
    margin: 0 auto;
    text-align: center;
  }
}
.service__contents-3--img img {
  width: 90%;
}
.service__contents-3--textparent {
  width: 90%;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .service__contents-3--textparent {
    width: 90%;
    text-align: left;
  }
}
.service__contents-3--ttl {
  font-size: 15px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .service__contents-3--ttl {
    width: 90%;
    margin: 0 auto;
  }
}
.service__contents-3--txt {
  font-size: 15px;
  margin: 15px 50px 15px 0;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .service__contents-3--txt {
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 15px;
  }
}
.service__contents-4 {
  grid-column: 2/3;
  grid-row: 2/3;
  margin: 0 auto;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .service__contents-4 {
    width: 100vw;
    margin: 0 auto;
    text-align: center;
  }
}
.service__contents-4--img img {
  width: 90%;
}
.service__contents-4--textparent {
  width: 90%;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .service__contents-4--textparent {
    width: 90%;
    text-align: left;
  }
}
.service__contents-4--ttl {
  font-size: 15px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .service__contents-4--ttl {
    width: 90%;
    margin: 0 auto;
  }
}
.service__contents-4--txt {
  font-size: 15px;
  margin: 15px 60px 15px 0;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .service__contents-4--txt {
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 15px;
  }
}
.service2 {
  width: 300px;
  line-height: 50px;
  text-align: center;
  background-color: red;
  margin: 0 auto;
  font-size: 15px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}
/* ニュース */
.blank2 {
  height: 70px;
}
.news {
  background-color: black;
  padding: 50px;
}
@media screen and (max-width: 768px) {
  .news {
    width: auto;
  }
}
.news__contents {
  width: 900px;
  text-align: center;
}
.news__contents-ttl {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.news__contents-ttl--1 {
  font-size: 35px;
  font-weight: bold;
  color: white;
}
.news__contents-ttl--2 {
  line-height: 8vh;
  background-color: red;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: white;
}
.news__contents-element--1 {
  line-height: 12vh;
  background-color: white;
  margin: 20px auto;
  padding-left: 20px;
  font-size: 20px;
  color: black;
}
.news__contents-link {
  text-decoration: none;
  color: white;
}
.news__contents-element--2 {
  line-height: 12vh;
  background-color: white;
  padding-left: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 20px;
  color: black;
}
.news__contents-element--3 {
  line-height: 12vh;
  background-color: white;
  padding-left: 20px;
  margin: 0 auto;
  font-size: 20px;
  color: black;
}
/* 社員ブログ */
.blank3 {
  height: 70px;
}
.blog {
  font-size: 35px;
  text-align: center;
  margin-bottom: 15px;
}
.blogspace {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .blogspace {
    width: auto;
    margin: 0 auto;
    display: block;
  }
}

.blogcontent__1 {
  width: 30%;
  margin-left: 0px;
  background: white;
  position: relative;
}
@media screen and (max-width: 768px) {
  .blogcontent__1 {
    width: 90vw;
    height: auto;
    margin: 0 auto;
  }
}
.blogcontent__1--img {
  position: relative;
}
@media screen and (max-width: 768px) {
  .blogcontent__1--img {
    width: auto;
    height: auto;
  }
}

.blogcontent__1--img img {
  width: 100%;
}
.blogcontent__1--date {
  font-size: 15px;
  margin-top: 10px;
}
.blogcontent__1--txt {
  font-size: 20px;
  color: #000;
  font-weight: bold;
  margin-top: 15px;
}
.blogcontent__2 {
  width: 30%;
  margin-left: 0px;
  background: white;
  position: relative;
}
@media screen and (max-width: 768px) {
  .blogcontent__2 {
    width: 90vw;
    height: auto;
    margin: 0 auto;
    background: white;
    position: relative;
  }
}
.blogcontent__2--img {
  position: relative;
}
.blogcontent__2--img img {
  width: 100%;
}
.blogcontent__2--date {
  font-size: 15px;
  margin-top: 10px;
}
.blogcontent__2--txt {
  font-size: 20px;
  color: #000;
  font-weight: bold;
  margin-top: 15px;
}
.blogcontent__3 {
  width: 30%;
  margin-left: 0px;
  background: white;
  position: relative;
}
@media screen and (max-width: 768px) {
  .blogcontent__3 {
    width: 90vw;
    height: auto;
    margin: 0 auto;
    background: white;
    position: relative;
  }
}
.blogcontent__3--img {
  position: relative;
}
.blogcontent__3--img img {
  width: 100%;
}
.blogcontent__3--date {
  font-size: 15px;
  margin-top: 10px;
}
.blogcontent__3--txt {
  font-size: 20px;
  color: #000;
  font-weight: bold;
  margin-top: 15px;
}
.blogcontent__link {
  text-decoration: none;
}
.blog2 {
  width: 300px;
  line-height: 10vh;
  text-align: center;
  background-color: red;
  margin: 0 auto;
  font-size: 15px;
  font-weight: bold;
  color: white;
  margin-top: 85px;
}
.blog2__link {
  text-decoration: none;
}
/* 会社概要 */
.blank4 {
  height: 70px;
}
.aboutcompany {
  width: 100%;
  display: flex;
  justify-content: center;
}

.aboutcompany__info {
  line-height: 50vh;
  width: 50%;
  font-size: 35px;
  color: white;
  background: red;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .aboutcompany__info {
    font-size: 25px;
  }
}
.aboutcompany__recruit {
  line-height: 50vh;
  width: 50%;
  font-size: 35px;
  color: white;
  background: black;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .aboutcompany__recruit {
    font-size: 25px;
  }
}

/* お問い合わせ */
.blank5 {
  height: 15vh;
}
.inquiryparent {
  background: #f1f0f0;
}
.inquiry {
  font-size: 35px;
  text-align: center;
  padding-top: 80px;
  margin-bottom: 15px;
}
.inquiry__txt {
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
}
.inquiry__btn {
  width: 300px;
  line-height: 10vh;
  text-align: center;
  background-color: red;
  margin: 10vh auto;
  font-size: 15px;
  font-weight: bold;
  color: white;
}
.inquiry__btn-link {
  text-decoration: none;
}
.inquiry__footer {
  height: 10vh;
  background: black;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .inquiry__footer {
    height: 45vh;
  }
}

.inquiry__footer--copyright {
  color: white;
  margin: auto 1vw;
}
.footer__navi-list {
  display: flex;
  color: white;
  padding-top: 20px;
  list-style-type: none;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .footer__navi-list {
    display: block;
  }
}

.footer__navi-item {
  color: white;
}
@media screen and (max-width: 768px) {
  .footer__navi-item {
    color: white;
    margin-bottom: 3vh;
  }
}

.footer-nav-item-link {
  color: white;
  font-size: 15px;
  margin: 0 10px;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .footer-nav-item-bar {
    display: none;
  }
}
