/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/* START */
/* TOP */

.header {
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: white;
  z-index: 20;
}
.header__ttl {
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  margin-left: 15px;
}
.header__navi {
  display: flex;
  justify-content: flex-end;
}
.header__navi-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: black;
}

.header__navi-item {
  list-style: none;
  font-size: 17px;
  font-weight: bold;
  margin-left: 50px;
}

.header-nav-item-link {
  text-decoration: none;
  color: black;
}
/* ドロワーメニュー */
/* デスクトップ画面でドロワーメニューのリストを表示させない */
@media screen and (min-width: 769px) {
  .navdrawer {
    display: none;
  }
}

/* モバイル画面でハンバーガーメニュー表示＋リストを削除 */
@media screen and (max-width: 768px) {
  .header__navi {
    display: none;
    margin-top: 5vh;
  }

  a {
    text-decoration: none;
    color: blue;
    display: block;
    margin-top: 5vh;
  }
  .navdrawer {
    position: absolute;
    height: 100vh;
    width: 100%;
    left: -100%;
    background: white;
    transition: 0.7s;
    text-align: center;
  }
  .nav ul {
    padding-top: 80px;
  }
  .nav ul li {
    list-style-type: none;
    margin-top: 50px;
  }
  .drawermenu {
    display: inline-block;
    width: 36px;
    height: 32px;
    cursor: pointer;
    position: relative;
  }
  .drawermenu__line--top,
  .drawermenu__line--middle,
  .drawermenu__line--bottom {
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: #000;
    position: absolute;
    transition: 0.5s;
  }
  .drawermenu__line--top {
    top: 0;
  }
  .drawermenu__line--middle {
    top: 14px;
  }
  .drawermenu__line--bottom {
    bottom: 0;
  }
  .drawermenu.open span:nth-of-type(1) {
    top: 14px;
    transform: rotate(45deg);
  }
  .drawermenu.open span:nth-of-type(2) {
    opacity: 0;
  }
  .drawermenu.open span:nth-of-type(3) {
    top: 14px;
    transform: rotate(-45deg);
  }
  .in {
    transform: translateX(100%);
  }
}

/* ドロワーメニューここまで */
/* ここから下がTOPと異なる */

.service {
  background-image: url(../img/mv.png);
  width: 100vw;
  height: 80vh;
  display: block;
  background-size: cover;
  margin: 0 auto;
  position: relative;
  background-position: center;
}
.service__ttl {
  position: absolute;
  font-size: 40px;
  font-weight: bold;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* 採用情報詳細 */
.blank {
  height: 10vh;
}
.newgrad {
  width: 80%;
  margin: 0 auto;
}
.newgrad__ttl {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}
.bar {
  border-bottom: 1px solid;
  margin: 0 auto;
  margin-bottom: 25px;
}
.newgrad__table,
tr,
td,
th {
  width: 80%;
  height: 10vh;
  border: 1px black solid;
  border-collapse: collapse;
  margin: 0 auto;
  margin-top: 30px;
}
th {
  width: 330px;
  background: rgb(243, 241, 241);
  font-weight: bold;
  vertical-align: middle;
}
td {
  vertical-align: middle;
  padding-left: 15px;
}
.carrer {
  width: 80%;
  margin: 0 auto;
}
.carrer__ttl {
  font-size: 25px;
  font-weight: bold;
  margin-top: 80px;
  margin-bottom: 10px;
}
.bar {
  border-bottom: 1px solid;
  margin: 0 auto;
  margin-bottom: 25px;
}
.carrer__table,
tr,
td,
th {
  width: 80%;
  height: 10vh;
  border: 1px black solid;
  border-collapse: collapse;
  margin: 0 auto;
  margin-top: 30px;
}
th {
  width: 330px;
  background: rgb(243, 241, 241);
  font-weight: bold;
  vertical-align: middle;
}
td {
  vertical-align: middle;
  padding-left: 15px;
}

/* お問い合わせ */
.blank5 {
  height: 10vh;
}
.inquiryparent {
  background: #f1f0f0;
  height: 55vh;
}
.inquiry {
  font-size: 35px;
  text-align: center;
  padding-top: 80px;
  margin-bottom: 15px;
}
.inquiry__txt {
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
}
.inquiry__btn {
  width: 300px;
  line-height: 10vh;
  text-align: center;
  background-color: red;
  margin: 0 auto;
  font-size: 15px;
  font-weight: bold;
  color: white;
  margin-top: 50px;
}
.inquiry__btn-link {
  text-decoration: none;
}
.inquiry__footer {
  height: 10vh;
  background: black;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .inquiry__footer {
    height: 45vh;
  }
}

.inquiry__footer--copyright {
  color: white;
  margin: auto 8vw;
}
.footer__navi-list {
  display: flex;
  color: white;
  padding-top: 20px;
  list-style-type: none;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .footer__navi-list {
    display: block;
  }
}

.footer__navi-item {
  color: white;
}
@media screen and (max-width: 768px) {
  .footer__navi-item {
    color: white;
    margin-bottom: 3vh;
  }
}

.footer-nav-item-link {
  color: white;
  font-size: 15px;
  margin: 0 10px;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .footer-nav-item-bar {
    display: none;
  }
}
